.container {
  .start {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: end;

      h3 {
        padding: 4px 0;
      }
    }

    .contain {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .days {
        display: flex;
        flex-direction: row;
        gap: 8px;
        overflow: auto;

        .day {
          width: 128px;
          height: 128px;
          position: relative;

          img {
            width: 128px;
            height: 128px;
            object-fit: cover;
            border-radius: 8px;
            mix-blend-mode: multiply;
            filter: contrast(1.1);
          }

          .upper {
            padding: 8px;
            bottom: 0;
            left: 0;
            position: absolute;

            h4 {
              padding: 2px 0;
            }
          }

          &.active {
            padding: 8px;
            background-color: #f0f8ff;
            border-radius: 8px;
          }
        }
      }

      .current {
        width: calc(100vw - 48px);
        height: calc(100vw - 48px);
        display: flex;
        flex-direction: column;
        gap: 24px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .upper {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          align-items: end;
          position: absolute;
          bottom: 0;
        }
      }
    }

    .btn-start {
      width: 100%;
      border: 0;
      background-color: #000;
      color: #fff;
      font-size: large;
      border-radius: 8px;
      font-weight: 700;
      font-size: 42px;
    }
  }

  .workout {
    .exercise {
      height: 100vh;
      display: flex;
      flex-direction: column;

      .upper {
        padding: 16px 24px;
        width: 100vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .header {
          p {
            text-align: right;
            font-size: 24px;
            font-weight: 600;
          }

          .primary {
            color: #000;
          }

          .secondary {
            color: #a9a9a9;
          }
        }
      }

      .bellow {
        width: 100vw;
        height: calc(100vh - 100vw);
        background-color: #000;
        color: #fff;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .main {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .name {
          font-size: 42px;
          font-weight: 600;
        }

        .rep {
          font-size: 128px;
          font-weight: 800;
          line-height: .8;
        }

        .btn-next {
          padding: 6px;
          background-color: #6495ed;
          color: #fff;
          border: 0;
          width: 50vw;
          border-radius: 42px;
          font-size: 32px;
          font-weight: 700;
        }
      }
    }

    .rest {
      background-color: #6495ed;
      height: 100vh;

      .upper {
        height: calc(100vh - 100vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: relative;

        p {
          color: white;
          text-transform: uppercase;
          font-weight: 700;
        }

        .title {
          font-size: 42px;
        }

        .time {
          font-size: 72px;
          line-height: 1;
        }

        .actions {
          padding-top: 16px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 24px;

          button {
            padding: 8px;
            width: 72px;
            border-radius: 32px;
            border: 0;
            font-weight: 700;
          }

          .more {
            background-color: #b0c4de;
            color: #fff;
          }

          .skip {
            background-color: #fff;
            color: #6495ed;
            text-transform: uppercase;
          }
        }

        .next {
          padding: 16px 24px;
          width: 100vw;
          position: absolute;
          bottom: 0;

          .excercise {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-transform: capitalize;
          }
        }
      }

      .bellow {
        padding: 24px;
        width: 100vw;
        height: 100vw;
        background-color: #fff;
        border-radius: 24px;
      }
    }
  }

  .end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Overrides for larger mobile/tablet */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Tablet styles */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* Desktop styles */
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .start {
      width: 80vw;
      height: 100vh;

      .contain {
        display: flex;
        flex-direction: row;
        gap: 2vw;

        .days {
          width: 40vw;
          flex-wrap: wrap;

          .day {
            width: 32%;
            height: 32%;
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .current {
          width: 40vw;
          height: 60vh;

          .upper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-items: end;
            position: absolute;
            bottom: -24px;
          }
        }
      }
    }

    .workout {
      width: 80vw;
      height: 80vh;

      .exercise {
        height: 80vh;
        display: flex;
        flex-direction: row;

        .upper {
          padding: 0 24px;
          width: 40vw;
          height: 82vh;

          .header {
            padding: 0;
            width: 100%;
          }
        }

        .bellow {
          width: 40vw;
          height: 80vh;

          .btn-next {
            width: 16vw;
          }
        }
      }

      .rest {
        background-color: #6495ed;
        height: 80vh;
        display: flex;
        flex-direction: row;
        border-radius: 24px;

        .upper {
          width: 40vw;
          height: 80vh;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
          position: relative;

          .next {
            width: 100%;

            .excercise {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              text-transform: capitalize;
            }
          }
        }

        .bellow {
          width: 40vw;
          height: 80vh;
        }
      }
    }

    .end {
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Large desktop styles */
}